<div class="main-container">
  <div class="container">
    <div class="row-fluid">
      <div class="span8 offset2 box_con">
        <div class=" text-center">
          <h2 class="box_title">Reset Password</h2>
          <form novalidate ng-submit="submitForm()" name="userLoginForm" >
            <div class="control-group">
              <div class="controls">
                <input class="text-center span8" type="password" placeholder="Password"
                       ng-model="user.new_password" name="password" required ng-minlength="8"
                       tooltip="Password is 8 letters long" tooltip-trigger="focus" tooltip-placement="right">
              </div>
            </div>

            <div class="row-fluid">
              <div class="span8 offset2 text-center">
                <button type="submit" ng-disabled="!userLoginForm.$valid" class="btn btn-warning btn-long">Reset</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>