<div class="main-container">
  <div class="container">
    <div class="row-fluid">
      <div class="span12 box_con">
        <div class=" text-center">
          <h2 class="box_title">Plans & Pricing</h2>
        </div>
        <p>Be part of the innovation that is Drawing Board Events!</p>
        <p>Our pricing plans are some of the cheapest in Singapore with our Basic subscriptions being completely FREE! But why stop there? Our unique Drawing Board tool gives potential customers another means of getting in touch with you (or your competitors!) so our Premium Subscription might be what you need to give you that edge.</p>
        
        <div class="pricing-table-div">
          <div class="row-fluid">
            <div class="span4 pricing-table pricing-table-intro-col belize-hole bordered">
              <ul>
                <li>Directory listing</li>
                <!--<li class=""><b>Access to quote requests sent by customers</b></li>-->
                <li style="position: relative;"><b class="orange1" tooltip="With this enabled, you are able to view quote requests' details" tooltip-placement="right">Access to quote requests sent by customers<i class="fa fa-info-circle" style="position: absolute; top: 2px;"></i></b></li>
                
                
                
                <li>Featured listing</li>
                <li>Allow users to review and rate your business</li>
                <li>Upload photos on your business’ profile page</li>
                <li>Subsequent listing in other categories allowed</li>
                <li>Contact details displayed on profile page</li>
                <li>15% Discount on Advertising Rates</li>
                <li>Eligibility to be featured in our blog</li>
                <!--li class="height-auto note">* If premium subscription. All prices are quoted in Singapore Dollars, unless stated otherwise.</li-->
              </ul>
            </div>
            <div class="span3 pricing-table belize-hole bordered">
              <ul>
                <li class="title"> Basic </li>
                <li class="price">
                  <div class="price-free">FREE</div>
                </li>
                <li><i class="icon-ok"></i><span>Directory listing</span></li>
                <li class="uniqueli-in "><i class="icon-remove"></i><span><b>Access to quote requests sent by customers</b></span></li>
                <li><i class="icon-remove"></i><span>Featured listing</span></li>
                <li><i class="icon-remove"></i><span>Allow users to review and rate your business</span></li>
                <li><i class="icon-remove"></i><span>Upload photos on your business’ profile page</span></li>
                <li><i class="icon-remove"></i><span>Subsequent listing in other categories allowed</span></li>
                <li><i class="icon-remove"></i><span>Contact details displayed on profile page</span></li>
                <li><i class="icon-remove"></i><span>15% Discount on Advertising Rates</span></li>
                <li><i class="icon-remove"></i><span>Eligibility to be featured in our blog</span></li>
                <li class="price-button-div">
                  <button ng-click="basicPlan()" class="btn btn-large btn-warning">Sign Up </button>
                </li>
              </ul>
            </div>
            <div class="span3 pricing-table belize-hole bordered">
              <ul>
                <li class="title"> Basic Plus </li>
                <li class="price"> <span class="currency-symbol">$</span> <strong>59</strong> <sup>00</sup> <em>/yr</em> </li>
                <li><i class="icon-ok"></i><span>Directory listing</span></li>
                <li class="uniqueli-in "><i class="icon-remove"></i><span><b>Access to quote requests sent by customers</b></span></li>
                <li><i class="icon-remove"></i><span>Featured listing</span></li>
                <li><i class="icon-ok"></i><span>Allow users to review and rate your business</span></li>
                <li><i class="icon-ok"></i><span>Upload photos on your business’ profile page</span></li>
                <li><i class="icon-ok"></i><span>Subsequent listing in other categories allowed</span></li>
                <li><i class="icon-ok"></i><span>Contact details displayed on profile page</span></li>
                <li><i class="icon-ok"></i><span>15% Discount on Advertising Rates</span></li>
                <li><i class="icon-remove"></i><span>Eligibility to be featured in our blog</span></li>
                <li class="price-button-div">
                  <button ng-click="basicPlusPlan()" class="btn btn-large btn-warning">Sign Up </button>
                </li>
              </ul>
            </div>
            <div class="span3 pricing-table belize-hole bordered">
              <ul>
                <li class="title"> Premium </li>
                <li class="price"> <span class="currency-symbol">$</span> <strong>269</strong> <sup>00</sup> <em>/yr</em> </li>
                <li><i class="icon-ok"></i><span>Directory listing</span></li>
                <li class="uniqueli-in "><i class="icon-ok"></i><span><b>Access to quote requests sent by customers</b></span></li>
                <li><i class="icon-ok"></i><span>Featured listing</span></li>
                <li><i class="icon-ok"></i><span>Allow users to review and rate your business</span></li>
                <li><i class="icon-ok"></i><span>Upload photos on your business’ profile page</span></li>
                <li><i class="icon-ok"></i><span>Subsequent listing in other categories allowed</span></li>
                <li><i class="icon-ok"></i><span>Contact details displayed on profile page</span></li>
                <li><i class="icon-ok"></i><span>15% Discount on Advertising Rates</span></li>
                <li><i class="icon-ok"></i><span>Eligibility to be featured in our blog</span></li>
                <li class="price-button-div">
                  <button  ng-click="premiumPlan()"class="btn btn-large btn-warning">Sign Up </button>
                </li>
              </ul>
            </div>

            

          </div>
        </div> <!-- end of pricing-table-div -->

        <div class="seperator-dotted-1"></div>
        <p class="centext">All prices are quoted in Singapore Dollars, unless stated otherwise. 
        <br><br>
        <b>Businesses with existing subscriptions are entitled to a 50% discount off all subsequent listings. This discount is based on full rates, as advertised on this page only. <br><a href="mailto:info@drawingboardevents.com.sg">Contact us</a> for further information.</b>

        
        
        </p>
      </div>
    </div>
  </div>
</div>