<div class="main-container">
  <div class="container">
    <div class="row-fluid">
      <div class="span12 box_con">
        <div class=" text-center">
          <h2 class="box_title">Plans & Pricing</h2>
        </div>
        <p>Be part of the innovation that is <b>Drawing Board Events</b>! Start your listing with us today and expose your business to new customers, that are targeted and looking for you, so you receive more enquiries.</p>
         <p>
        Our <b>unique Multi-Quoting tool</b> gives your potential customers a direct line to you, so opt for our Standard or Premium Subscriptions to get the edge on your competitors!</p>
         
         <p>
        Our subscriptions are the <b>best value in Singapore</b> for your online marketing - make your budget stretch further, sign up today!</p>
         <p>
        <b><p class="text-red">**For a limited time, get 35% off our Standard subscription for only $129.</p></b>
        
        
        <div class="pricing-table-div">
          <div class="row-fluid">
            <div class="span4 pricing-table pricing-table-intro-col belize-hole bordered">
              <ul>
                <li>Directory listing</li>
                <!--<li class=""><b>Access to quote requests sent by customers</b></li>-->
                <li style="position: relative;"><b class="orange1" tooltip="With this enabled, you are able to view quote requests' details" tooltip-placement="bottom">Access to quote requests sent by customers<i class="fa fa-info-circle" style="position: absolute; top: 2px;"></i></b></li>
                
                
                
                
                <li>Allow users to review and rate your business</li>
                <li>Upload photos on your business’ profile page</li>
                <li>Featured listing</li>
                <!--<li>Subsequent listing in other categories allowed</li>-->

                <li>15% Discount on Advertising Rates</li>
                <li>Eligibility to be featured in our blog</li>
                <!--li class="height-auto note">* If premium subscription. All prices are quoted in Singapore Dollars, unless stated otherwise.</li-->
              </ul>
            </div>
            <div class="span3 pricing-table belize-hole bordered">
              <ul>
                <li class="title"> Free </li>
                <li class="price">
                  <div class="price-free">FREE Forever!</div>
                </li>
                <li><i class="icon-ok"></i><span>Directory listing</span></li>
                <li class="uniqueli-in "><i class="icon-remove"></i><span><b>Access to quote requests sent by customers</b></span></li>
                
                <li><i class="icon-remove"></i><span>Allow users to review and rate your business</span></li>
                <li><i class="icon-remove"></i><span>Upload photos on your business’ profile page</span></li>
                <li><i class="icon-remove"></i><span>Featured listing</span></li>
                <!--<li><i class="icon-remove"></i><span>Subsequent listing in other categories allowed</span></li>-->

                <li><i class="icon-remove"></i><span>15% Discount on Advertising Rates</span></li>
                <li><i class="icon-remove"></i><span>Eligibility to be featured in our blog</span></li>
                <li class="price-button-div">
                  <button ng-click="basicPlan()" class="btn btn-large btn-warning">Sign Up </button>
                </li>
              </ul>
            </div>
            <div class="span3 pricing-table belize-hole bordered standard-package">
              <ul>
                <li class="title"> Standard </li>
                <li class="price"> <span class="currency-symbol">$</span> <p class="text-linethrough pricing-text-linethrough">199</p><strong class="orange1">129</strong> <sup>00</sup> <em>/yr</em> </li>
                <li><i class="icon-ok"></i><span>Directory listing</span></li>
                <li class="uniqueli-in "><i class="icon-ok"></i><span><b>Access to quote requests sent by customers</b></span></li>
                
                <li><i class="icon-ok"></i><span>Allow users to review and rate your business</span></li>
                <li><i class="icon-ok"></i><span>Upload photos on your business’ profile page</span></li>
                <li><i class="icon-remove"></i><span>Featured listing</span></li>
                <!--<li><i class="icon-ok"></i><span>Subsequent listing in other categories allowed</span></li>-->

                <li><i class="icon-remove"></i><span>15% Discount on Advertising Rates</span></li>
                <li><i class="icon-remove"></i><span>Eligibility to be featured in our blog</span></li>
                <li class="price-button-div">
                  <button ng-click="basicPlusPlan()" class="btn btn-large btn-warning">Sign Up </button>
                </li>
              </ul>
            </div>
            <div class="span3 pricing-table belize-hole bordered">
              <ul>
                <li class="title"> Premium </li>
                <li class="price"> <span class="currency-symbol">$</span> <strong>269</strong> <sup>00</sup> <em>/yr</em> </li>
                <li><i class="icon-ok"></i><span>Directory listing</span></li>
                <li class="uniqueli-in "><i class="icon-ok"></i><span><b>Access to quote requests sent by customers</b></span></li>
                
                <li><i class="icon-ok"></i><span>Allow users to review and rate your business</span></li>
                <li><i class="icon-ok"></i><span>Upload photos on your business’ profile page</span></li>
                <li><i class="icon-ok"></i><span>Featured listing</span></li>
                <!--<li><i class="icon-ok"></i><span>Subsequent listing in other categories allowed</span></li>-->

                <li><i class="icon-ok"></i><span>15% Discount on Advertising Rates</span></li>
                <li><i class="icon-ok"></i><span>Eligibility to be featured in our blog</span></li>
                <li class="price-button-div">
                  <button  ng-click="premiumPlan()"class="btn btn-large btn-warning">Sign Up </button>
                </li>
              </ul>
            </div>

            

          </div>
        </div> <!-- end of pricing-table-div -->

        <div class="seperator-dotted-1"></div>
        <p class="centext">All prices are quoted in Singapore Dollars, unless stated otherwise. 
        <hr>
        <p class="centext">Got a question? Shoot us an email below.</p>
        	
        	
        	<form class="form-horizontal" name="form" novalidate ng-submit="submitForm()">
        	          <div class="text-left">
        	            <div class="row-fluid control-group">
        	              <div class="control-label">
        	                <label>Name*</label>
        	              </div>
        	              <div class="controls">
        	                <input type="text" ng-model="contact.name" name="name" required>
        	              </div>
        	            </div>
        	
        	            <div class="row-fluid control-group">
        	              <div class="control-label">
        	                <label>Email*</label>
        	              </div>
        	              <div class="controls">
        	                <input type="email" ng-model="contact.email" name="email" required>
        	              </div>
        	            </div>
        	            
        	
        	            <div class="row-fluid control-group">
        	              <div class="control-label">
        	                <label>Enquiry*</label>
        	              </div>
        	              <div class="controls">
        	                <textarea class="span11" ng-model="contact.message" name="message" required></textarea>
        	              </div>
        	            </div>
        	
        	            <div class="row-fluid control-group">
        	              <div class="control-label">
        	                <label></label>
        	              </div>
        	              <div class="controls">
        	                <div
        	                    vc-recaptcha
        	                    tabindex="3"
        	                    theme="blackglass"
        	                    key="6LcFd-0SAAAAAFBJsqVjeuUUQC8JBY0KP62oFqQ2"
        	                    ></div>
        	              </div>
        	            </div>
        	            
        	            <div class="row-fluid control-group">
        	              <div class="control-label">
        	                <label></label>
        	              </div>
        	              <div class="controls">
        	                 <button type="submit" class="btn btn-warning btn-long">Send Message</button>
        	              </div>
        	            </div>
        	
        	          </div>
        	        </form>
        	        

        
        
        </p>
      </div>
    </div>
  </div>
</div>