<div class="main-container">
  <div id="main-content" class="container">
    <div class="row-fluid">


          <div class="span3 sidebar">
            <ul class="nav nav-list">
              <li class="nav-header">Account</li>
              <li class="active"><a href>My Events</a></li>
              <li><a href="/#/dashboard.member.profile">My Profile</a></li>
              <li>
                <a href="/#/dashboard.reset_password">Change Password</a>
              </li>
            </ul>
          </div>

          <div class="span9">
            <div class="content-main">

              <div ng-show="has_pending_event">
                <h3>EVENT CREATION IN PROGRESS</h3>
                <p>"{{ pending_event.name }}" at {{ pending_event.date | date:'MMMM dd, yyyy' }}</p>
                <a class="btn btn-danger" href="/#/services/venues">Request more quotes</a>
                <a class="btn btn-info" href="/#/dashboard.member.checkout/new">Finalise Quote Requests</a>
              </div>
<hr>
              <h3>MY UPCOMING EVENTS</h3>
              <p ng-if="current_user.upcoming_events.length == 0">You have not submitted any event yet. <a ng-show="!has_pending_event" href="/#/event.new">Create a new event now!</a></p>
              <table ng-if="current_user.upcoming_events.length > 0"
                     class="events table table-bordered table-condensed">
                <tr>
                  <th>Event Date</th>
                  <th>Event Name</th>
                  <th>Status</th>
                  <th>Submission Status</th>
                  <th>Quotes requested</th>
                  <th class="span3">Details</th>
                </tr>
                <tr ng-repeat="event in current_user.upcoming_events">
                  <td>{{ event.date }}</td>
                  <td><span><a target="_blank" ng-href="/#/event.show/{{ event.id }}">{{ event.name }}</a></span></td>
                  <td>{{event.status}}</td>
                  <td>
                      <span ng-show="event.is_submitted">Submitted on {{ event.submitted_at | date:'MM/dd/yyyy @ h:mma' }}</span>
                      <span ng-show="!event.is_submitted">Have Not Submitted</span>
                  </td>
                  <td>{{event.request_for_quotes.length}}</td>
                  <td>
                    <a target="_blank" ng-href="/#/event.show/{{ event.id }}">View</a>&nbsp;|&nbsp;
                    <a ng-href="/#/dashboard.member.checkout/{{ event.id }}">Edit</a>
                  </td>
                </tr>
              </table>
              <hr>
              <h3>MY PAST EVENTS</h3>
              <p ng-if="current_user.past_events.length == 0">You have no past event on list yet.</p>
              <table ng-if="current_user.past_events.length > 0"
                     class="events table table-bordered table-condensed">
                <tr>
                  <th>Event Date</th>
                  <th>Event Name</th>
                  <th>DrawingBoard(s) submitted</th>
                  <th class="span3">Details</th>
                </tr>
                <tr ng-repeat="event in current_user.past_events">
                  <td>{{ event.date }}</td>
                  <td><span><a target="_blank" ng-href="/#/event.show/{{ event.id }}">{{ event.name }}</a></span></td>
                  <td>Submitted on {{ event.updated_at | date:'MM/dd/yyyy @ h:mma' }}</td>
                  <td>This event is over</td>
                </tr>
              </table>
            </div>

      </div>
    </div>
  </div>
</div>