<div class="main-container">
  <div id="main-content" class="container">
    <div class="row-fluid">

      <div class="span3 sidebar">
        <ul class="nav nav-list">
          <li class="nav-header">Account</li>
          <li>
            <a href="/#/dashboard.vendor.listing" ng-show="user_class == 'Vendor'">Listing</a>
            <a href="/#/dashboard.member.events" ng-show="user_class == 'Member'">Events</a>
          </li>
          <li>
            <a href="/#/dashboard.vendor.profile" ng-show="user_class == 'Vendor'">My Profile</a>
            <a href="/#/dashboard.member.profile" ng-show="user_class == 'Member'">My Profile</a>
          </li>
          <li class="active">
            <a href>Change Password</a>
          </li>
        </ul>
      </div>

      <div class="span9">
        <div class="content-main">
          <h3>Change Password</h3>
          <hr>
          <div class="row">
            <div class="span5 offset1">
              <form novalidate ng-submit="submitForm()" name="userLoginForm" >
                <div class="control-group">
                  <label class="control-label">New Password</label>
                  <div class="controls">
                    <input  type="password"
                           ng-model="user.new_password" name="password" required ng-minlength="8"
                           tooltip="Password is 8 letters long" tooltip-trigger="focus" tooltip-placement="right">
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label">Confirm Password</label>
                  <div class="controls">
                    <input  type="password" name="password_confirmation" ng-model="confirm_password"
                           matcher comparewith="user.new_password" matched="password_matched" required>
                  </div>
                </div>

                <div class="control-group" ng-hide="password_matched">
                  <label class="control-label"></label>
                  <div class="controls">
                    <span class="msg-error">Password do not match</span>
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label" for="settings_save"></label>
                  <div class="controls">
                    <button ng-disabled="!userLoginForm.$valid" id="settings_save" class="btn btn-small btn-primary" type="submit">Reset</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <hr>
        </div>
      </div>

    </div>
  </div>
</div>