<div class="main-container">
  <div class="container">
    <div class="row-fluid">

          <div class="span8 offset2 box_con">
            <div class="content-main">
              <div>
                <h3 class="text-center"><span>CREATE YOUR EVENT</span></h3>
                <p class="text-center"><b>Choose vendors and request quotes using our free, easy-to-use drawingboard too</b></p>
                <form event-form></form>
              </div>
            </div>
          </div>

    </div>
  </div>
</div>
