<form class="form-horizontal homepage-form" novalidate name="form" ng-submit="submitForm()">
  <div class="control-group">
    <label class="control-label" for="inputEvent">Event nickname*</label>
    <div class="controls">
      <input type="text" ng-model="form_object.name" name="name" required
             id="inputEvent" placeholder="e.g. Jamie's 21st Birthday Party" class="span8">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputDate">Date*</label>
    <div class="controls">
      <input type="text" ng-model="form_object.date" name="date" required
             datepicker-popup="d/M/yyyy" show-weeks="false"
             min="date_for_tomorrow"
             id="inputDate" placeholder="MM/DD/YYYY" class="span8">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputGuest">Time*</label>
    <div class="controls">
      <input type="text" ng-model="form_object.starts_at" name="starts_at" required
             id="inputFrom" placeholder="6pm" class="span2">
      -
      <input type="text" ng-model="form_object.ends_at" name="ends_at" required
             id="inputUntil" placeholder="8pm" class="span2">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputGuest">Number of Guest*</label>
    <div class="controls">
      <input type="number" ng-model="form_object.number_of_guests" name="number_of_guests" required
             id="inputGuest" placeholder="50" class="span4">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputLocation">Location(s), if known</label>
    <div class="controls">
      <textarea ng-model="form_object.location" name="location"
              rows="3" class="span8"></textarea>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <!--<label class="checkbox">
        <input type="checkbox"> I have read the Terms and Conditons
      </label>-->
      <button type="submit" class="btn btn-primary">Proceed</button>
    </div>
  </div>
</form>