<div id="footer">
  <div id="footer-content" class="">
    <div class="container">
      <div class="row-fluid">
        <!--<div class="span6 directory">
          <h4>Directory</h4>
          <div class="row-fluid">
          <div class="span4 footer-list">
          <ul class="">
            <li><a href="/#/services/venues">Venue</a></li>
            <li><a href="/#/services/catering">Catering</a></li>
            <li><a href="/#/services/photography">Photography</a></li>
            <li><a href="/#/services/videography">Videography</a></li>
            <li><a href="/#/services/entertainment">Entertainment</a></li>
          </ul>
          </div>
          <div class="span4 footer-list">
          
          <ul class="">
            <li><a href="/#/services/cakes">Cakes</a></li>
            <li><a href="/#/services/transport">Transport</a></li>
            <li><a href="/#/services/decor">Decor</a></li>
            <li><a href="/#/services/flowers">Flowers</a></li>
            <li><a href="/#/services/invitations_and_stationery">Invitations & Stationery</a></li>
          </ul>
          </div>
          <div class="span4 footer-list">
          <ul class="">
            <li><a href="/#/services/hair_and_beauty">Hair & Beauty</a></li>
            <li><a href="/#/services/fashion_and_accessories">Fashion & Accessories</a></li>
            <li><a href="/#/services/novelty_services">Novelty Services</a></li>
            <li><a href="/#/services/supplies_and_party_favours">Supplies and Part Favours</a></li>
          </ul>
          </div>
          </div>
        </div>-->
        <div class="span9 directory">

          <ul class="">
                      <li><a href="/#/about">About Us</a></li>
                      <li><a href="#/why_list_our_business">List your business</a></li>
                      <li><a href="/#/advertise">Advertise</a></li>
                      <li><a href="/#/contact">Contact Us</a></li>                                    
                      <li><a href="/#/faq">FAQ</a></li>
                      <li><a href="/blog">Blog</a></li>            
          
          
                      
                    </ul>
        </div>
        <div class="span3 footer-social-div">

          <a href="https://www.facebook.com/drawingboardeventsSG" target="_blank"><img src="styles/img/fb.png"></a>
          <a href="https://twitter.com/DrawingBoardEve" target="_blank"><img src="styles/img/tw.png"></a>
          <a href="http://www.pinterest.com/drawingboardeve/" target="_blank"><img width="32" src="styles/img/pinterest-icon.png"></a>
        </div>
      </div>
    </div>
    
  </div>
</div>

<div class="copyright-div">
	<div class="container">
		<div class="row-fluid">
			<div class="span12">
			
			 © Copyright 2013 DrawingBoard Events. All Rights Reserved. | <a href="/#/terms">Terms</a>
			 | <a href="/#/privacy">Privacy</a></div>
		</div>
	</div>
</div>

<script type="text/javascript">
  if (/iphone|ipod|android|blackberry|opera mini|opera mobi|skyfire|maemo|windows phone|palm|iemobile|symbian|symbianos|fennec/i.test(navigator.userAgent.toLowerCase())) {
    $("meta[name='viewport']").attr("content", "width=480");
  }
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46992471-1', 'drawingboardevents.com.sg');
  ga('send', 'pageview');

</script>

