<form class="form-horizontal" name="form" novalidate ng-submit="submitForm()">

  <div class="text-left" ng-show="has_pending_event">
    <div class="row-fluid control-group">
      <div class="span2">
        <label>Event nickname*</label>
      </div>
      <div class="span10">
        <input type="text" ng-model="form_object.name" name="name" required
               id="inputEvent" placeholder="e.g. Jamie's 21st Birthday Party" class="input-medium span11">
      </div>
    </div>

    <div class="row-fluid control-group">
      <div class="span2">
        <label>Date*</label>
      </div>
      <div class="span4">
        <input type="text" ng-model="form_object.date" name="date" required
               datepicker-popup="d/M/yyyy" show-weeks="false"
               min="date_for_tomorrow"
               id="inputDate" placeholder="MM/DD/YYYY" class="input-medium span10" >
      </div>
      <div class="span2">
        <label>Time*</label>
      </div>
      <div class="span4">
        <input type="text" ng-model="form_object.starts_at" name="starts_at" required
               id="inputFrom" placeholder="6pm" class="input-medium span4">
        -
        <input type="text" ng-model="form_object.ends_at" name="ends_at" required
               id="inputUntil" placeholder="8pm" class="input-medium span4" >
      </div>
    </div>

    <div class="row-fluid control-group">
      <div class="span2">
        <label>Number of Guest*</label>
      </div>
      <div class="span10">
        <input type="number" ng-model="form_object.number_of_guests" name="number_of_guests" required
               id="inputGuest" placeholder="50" class="input-medium span11">
      </div>
    </div>
    <div class="row-fluid control-group">
      <div class="span2">
        <label>Location(s), if known</label>
      </div>
      <div class="span10">
        <textarea ng-model="form_object.location" name="location"
                  rows="3" class="input-medium span11"></textarea>
      </div>
    </div>

    <p>You can view, edit, and submit this event and request quotes from the vendors that you have selected upon <b>registration</b> or <b><a href="/#/login">login</a></b>.</p>

  </div>

  <hr ng-show="has_pending_event">

  <div class="text-left">

    <div class="row-fluid control-group">
      <div class="span2">
        <label>First Name*</label>
      </div>
      <div class="span4">
        <input type="text" class="input-medium span10" ng-model="user.first_name" name="first_name" required>
      </div>
      <div class="span2">
        <label>Last Name*</label>
      </div>
      <div class="span4">
        <input type="text" class="input-medium span10" ng-model="user.last_name" name="last_name" required>
      </div>
    </div>

    <div class="row-fluid control-group">
      <div class="span2">
        <label>Email*</label>
      </div>
      <div class="span4">
        <input type="email" class="input-medium span10" ng-model="user.email" name="email" required>
      </div>
      <div class="span2">
        <label>Confirm Email*</label>
      </div>
      <div class="span4">
        <input type="email" class="input-medium span10" match="user.email" ng-model="confirm_email" name="email_confirmation" required>
      </div>
    </div>

    <div class="row-fluid control-group" ng-show="form.email_confirmation.$error.match">
      <div class="span12">
        <span class="msg-error">Email and Confirm Email must match.</span>
      </div>
    </div>

    <div class="row-fluid control-group">
      <div class="span2">
        <label>Password*</label>
      </div>
      <div class="span4">
        <input type="password" class="input-medium span10" ng-model="user.password" name="password"
               required ng-minlength="8"
               tooltip="Password is 8 letters long" tooltip-trigger="focus" tooltip-placement="right">
      </div>
      <div class="span2">
        <label>Confirm Password*</label>
      </div>
      <div class="span4">
        <input type="password" class="input-medium span10" name="password_confirmation"
               ng-model="confirm_password" match="user.password" required>
      </div>
    </div>

    <div class="row-fluid control-group" ng-show="form.password_confirmation.$error.match">
      <div class="span12">
        <span class="msg-error">Password do not match</span>
      </div>
    </div>

    <div class="row-fluid control-group">
      <div class="span4">
        <label>How did you hear about us:</label>
      </div>
      <div class="span8">
        <select class="span12" ng-model="user.reached_by" ng-options="method as method for method in ['Word of Mouth', 'Social Media', 'Internet Search', 'TV', 'Print', 'Radio', 'Others']">
        </select>
      </div>
    </div>
    <hr>
    <div class="row-fluid control-group">
      <div class="span12">
        <p>* By signing up, you agree to our Terms, Privacy and to receive DrawingBoard Events emails and updates.</p>
      </div>
      <div class="text-center">
        <p>Already registered? <a href="/#/login">Login</a></p>
        <button type="submit" class="btn btn-warning btn-long">Sign Me Up!</button>
      </div>
    </div>
</form>
