<div class="main-container">
  <div class="container">
    <div class="row-fluid">
      <div class="span8 offset2 box_con">
        <div class=" text-center">
          <h2 class="box_title">About Us</h2>


        </div>
        
        
        <p>Drawing Board Events was started with the sole aim of being Singapore&rsquo;s one stop shop for all things event and party planning related.</p>
        <p> Our innovative Drawing Board tool takes the stress out of organising by providing an extensive, user-reviewed directory of event vendors, from which customers may request multiple quotes, from as many vendors as they like, in a single eform. </p>
        <p>And did we mention that your Drawing Board tool is completely FREE to use?!</p>
        <p>From essentials such as Venues and Photographers, all the way through to our quirky list of Novelty Services, we&rsquo;ve compiled a comprehensive list of quality vendors that are waiting to help make your next event or party a success. And with these vendors being reviewed by actual customers like yourself, you can rest assured knowing that you&rsquo;ve picked someone who will do a fantastic job!</p>
        <p>Once you&rsquo;re confident that you&rsquo;ve picked the right business for your job, simply click on &ldquo;request quote&rdquo; (and request as many quotes, from as many vendors as you like!), take 5 minutes to complete a simple eform and simply sit back and watch the quotes roll on in! Save yourself the hours that would have been spent calling these different vendors and explaining yourself over and over again!</p>
        <p>So whether you are a lucky bride planning your wedding, a member of your company&rsquo;s Christmas party committee or simply someone organising a birthday or going away party for a dear friend, give Drawing Board Events a try and be amazed at how we&rsquo;ve brought the fun back to planning events! </p>      </div>
    </div>
  </div>
</div>