<div class="main-container">
  <div class="container">
    <div class="row-fluid">
      <div class="span8 offset2 box_con">
        <div class=" text-center">
          <h2 class="box_title">Advertise</h2>


        </div>

        <p>Drawing Board Events is the first of its kind here in Singapore. Take advantage of our unique, proprietary Drawing Board tool which allows potential customers to get in touch with you directly to request quotes. </p>
        <p>As opposed to listing on a static business directory service which may or may not generate sales, customers using our innovative Drawing Board tool are qualified leads, in that they are proactively contacting you with all the information necessary for you to generate a quote. What this means for your business is a stream of customers ready to make a purchase!</p>
        <p>Have a look at our subscription pricing plans <u>here </u>and you will soon realise that our rates are amongst the cheapest (if not the cheapest!) here in Singapore. In fact, our Basic plan is completely FREE!</p>
        <p>If you&rsquo;ve already taken that leap and are already listed on our website, why not advertise with us and get that extra boost in exposure! We have options including a product or service feature in our popular Blog, or get that coveted spot on our monthly e-newsletters! <a href="/#/contact">Contact us</a> for our current rates.</p>
      </div>
    </div>
  </div>
</div>