<div class="main-container">
  <div class="container">
    <div class="row-fluid">
      <div class="span8 offset2 box_con">
        <div class=" text-center">
          <h2 class="box_title">Thank you for your registration</h2>


        </div>
		<h4 class="text-center">Time to check your email</h4>
		<h2 class="text-center"><i class="fa fa-envelope-o"></i></h2>
		<p class="text-center">Click the link in your email to verify your account.</p>
      </div>
    </div>
  </div>
</div>

<!-- Facebook Conversion Code for Quote requests and vendor sign ups -->
<script type="text/javascript">
  var fb_param = {};
  fb_param.pixel_id = '6017107221514';
  fb_param.value = '0.00';
  fb_param.currency = 'MYR';
  (function(){
    var fpw = document.createElement('script');
    fpw.async = true;
    fpw.src = '//connect.facebook.net/en_US/fp.js';
    var ref = document.getElementsByTagName('script')[0];
    ref.parentNode.insertBefore(fpw, ref);
  })();
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6017107221514&amp;value=0&amp;currency=MYR" /></noscript>


<!-- Google Code for Quote request or vendor sign up Conversion Page -->
<script type="text/javascript">
  /* <![CDATA[ */
  var google_conversion_id = 975178885;
  var google_conversion_language = "en";
  var google_conversion_format = "3";
  var google_conversion_color = "ffffff";
  var google_conversion_label = "3F-WCOvbtgcQhZmA0QM";
  var google_conversion_value = 0;
  var google_remarketing_only = false;
  /* ]]> */
</script>
<script type="text/javascript"
        src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
  <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt=""
         src="//www.googleadservices.com/pagead/conversion/975178885/?value=0&amp;label=3F-WCOvbtgcQhZmA0QM&amp;guid=ON&amp;script=0"/>
  </div>
</noscript>