<div class="main-container">
<div id="main-content" class="container">
  <div class="row-fluid">
    <div class="span12">
        <sidebar></sidebar>
        
        <div class="span9">
          <div class="content-main">
            <h2 class="text-center">WELCOME TO YOUR <span class="orange">DRAWING BOARD</span></h2>
            <div id="howto" class="row-fluid">
              <div class="span12 text-center">
                <h4>Plan your next event or party, request multiple quotes in an instant and let us help you make it happen. And did we mention it’s absolutely FREE to use?</h4>
                <div class="row-fluid">
                  <div class="span3">
                    <img src="styles/img/how2.png"><span><img src="styles/img/arrow.png"></span>
                    <p><strong>BROWSE</strong></p>
                    <p>Browse our directory of vendors</p>
                  </div>
                  <div class="span3">
                    <img src="styles/img/how4.png"><span><img src="styles/img/arrow.png"></span>
                    <p><strong>SELECT</strong></p>
                    <p>Read reviews by users just like yourself</p>
                  </div>
                  <div class="span3">
                    <img src="styles/img/how3.png"><span><img src="styles/img/arrow.png"></span>
                    <p><strong>SUBMIT</strong></p>
                    <p>Request multiple quotes with a single click</p>
                  </div>
                  <div class="span3">
                    <img src="styles/img/home-wine-icon.png">
                    <p><strong>PARTY!</strong></p>
                    <p>Sit back and watch the quotes roll in!</p>
                  </div>
                  <div class="span11"><hr ng-if="authenticated && user_type=='member'"></div>
                </div>
              </div>
            </div>
            <div ng-if="user_type!='vendor'" class="welcome-event-box">
              <div ng-show="!in_progress">
                <h3 class="text-center"><span>CREATE YOUR EVENT</span></h3>
                <p class="text-center"><b>Start by giving us details of your event</b></p>
                <form event-form></form>
              </div>
              <div ng-show="in_progress">
                <h3 class="text-center"><span>YOUR EVENT IS READY</span></h3>
                <p class="text-center"><b>Proceed to request quotes from our vendors now</b></p>
                <a class="btn btn-danger btn-block" href="/#/services/venues">Proceed</a>
              </div>

            </div>
          </div>
        </div>
        
        
    </div>
  </div>
</div>
</div>

<div id="home-content">
  <div id="event-sup" class="row-fluid">
    <div class="span12 text-center">
      <h3>Or if you’re just here to browse</h3>
      <div service-categories></div>
    </div>
  </div>
</div>