<div class="main-container">
  <div class="container">
    <div class="row-fluid">
      <div class="span8 offset2 box_con">
              <div class=" text-center">
                <h2 class="box_title">Terms and Conditions of Use</h2>
      		</div>
            
            <h4>General Terms and Conditions of Use</h4>
      		<hr class="terms-line">
      		<p>These Terms and Conditions of Use are intended to govern your use of this website; and by using this website, you imply that you accept these Terms and Conditions of Use in full. If you disagree with the provisions in this document, you may opt to not use this website. 
      		You must be at least 18 year of age to use this website; thus, by use of this website you represent that you are at least 18 years of age. This website also uses cookies. Access of this website means that you consent to Drawing Board Event's Terms and Conditions of Use and Privacy Policy, specifically the policies on Cookies.
      		</p>
      		<br>
      		<h4>Definitions</h4>
      		<hr class="terms-line">
      		<p>This website is owned and operated solely by Drawing Board Events Pte. Ltd. (ACRA Registration Number 201316361C), as incorporated in Singapore, in accordance with the applicable laws and regulations of Singapore.
      		In this Terms and Conditions of Use document, the use of "we", "us", "our" shall pertain to Drawing Board Events Pte. Ltd., unless otherwise stated.
      		"Users" of this website shall pertain to all parties who access, view, or make use of the services of this website; whether registered or not. This term also covers "Customers" and "Vendors" as defined by their use of this website.
      		"Customers" refer to those who access this website to avail of its services, specifically in looking for, or getting in touch with professionals, companies; and products and/or services providers, who provide for products and/or services required for organizing parties and events, unless otherwise described. 
      		The professionals, companies; and products and/or services providers described in the previous provisions shall be herein referred to as "Vendors"; unless otherwise specified. 
      		</p>
      		<br>
      		<h4>License to Use the Website</h4>
      		<hr class="terms-line">
      		<p>Drawing Board Events Pte. Ltd. and its licensors own the intellectual property rights in this website; including all the pertinent materials found herein. All these intellectual property rights are reserved by Drawing Board Events Pte. Ltd with ACRA registration number 201316361C. 
      		Users of this website may view, print, and download for caching purposes only the contents of this website; for personal use, and subject to regulations and restrictions set out in this Terms and Conditions of Use.
      		</p>
      		<br>
      		<h4>User Conduct</h4>
      		<hr class="terms-line">
      		<p>As a user of this website, you may not:
      			</p><ul class="terms-list">
      				<li>Re-publish any material obtained from this website; including, but not limited to republication on another website, unless expressly allowed by Drawing Board Events Pte. Ltd;</li>
      				<li>encumber by selling, renting out, or sub-licensing any material from this website;</li>
      				<li>use the contents of this website for personal marketing, or promotion of another website, company, product, services; or any third-party entity.</li>
      				<li>edit, modify, or alter in any manner materials on this website;</li>
      				<li>distribute and redistribute materials from this website, save that content which are specifically and expressly made available for the same purpose. In case distribution or redistribution is allowed, the same may be limited for specific purpose/s only, subject to our discretion.</li>
      			</ul>
      		<p></p>
      		<br>
      		<h4>Use of Website</h4>
      		<hr class="terms-line">
      		<p>Use of this website in any way that may cause, or causes, damage to this website, or to cause an impediment on the accessibility or availability of this website; or in any way which is illegal, unlawful, harmful, or fraudulent, or in connection with any illegal, unlawful, harmful, or fraudulent purposes or activity, is strictly prohibited.
      		You cannot use this website to copy, store, host, transmit, use, send, publish, or distribute any material which consists of, or is connected to any computer virus, spyware, worm, Trojan horse, rootkit, keystroke logger, or any other harmful or malicious computer software.
      		Conducting any automated or systematic data collection activities; including, but not limited to data mining, limitation scraping, data harvesting, and data extraction, on or in relation to this website, without Drawing Board Events Pte. Ltd.  is not allowed; unless there is express written consent from Drawing Board Events Pte. Ltd.
      		You may not use this website for any purposes related to marketing and advertisement without our express written consent; as much as this website may not be used to send to transmit unsolicited commercial communications.
      		</p>
      		<br>
      		<h4>Warranties</h4>
      		<hr class="terms-line">
      		<p>This website is on an "as is" basis; and we do not provide any representation or warranties, express or implied. We make no warranties in relation to the contents of this website; and the information and materials found here on.
      		Drawing Board Events Pte. Ltd. does not warrant that the website is constantly available, or available at all times; and that the information found on this website is accurate, true, complete, or non-misleading. Likewise, it none on this website is intended to constitute an advice of any kind; thus, if you require advice in relation to any financial, medical, or legal matter, you should consult the appropriate professional.
      		</p>
      		<br>
      		<h4>Limitations of Liability</h4>
      		<hr class="terms-line">
      		<p>We will not be liable to you, or any other third-party; whether under the law of torts, contract, or otherwise, in relation to the use of, or reliance to the contents of this website. In addition to this, we will also not be liable for damages incurred in connection with the use of this website:</p>
      		<ul class="terms-list">
      		<li>for any indirect, consequential, or special loss;</li>
      		<li>to the extent that this website is provided for free-of-charge;</li>
      		<li>for any direct loss;</li>
      		<li>forany loss of business profit, revenue, income, anticipated savings, contract or business relationship, loss of goodwill or reputation, or corruption or loss of data or information.</li>
      		</ul>
      		<p>These limitations of liability applies even if Drawing Board Events Pte. Ltd. has been expressly advised of the potential loss.
      		</p>
      		<br>
      		<h4>Exceptions</h4>
      		<hr class="terms-line">
      		<p>Nothing in this website disclaimer of liabilities shall limit or exclude any warranties implied by law that would be unlawful to limit or exclude; and that nothing on this website's disclaimer of liabilities will limit or exclude Drawing Board Events Pte. Ltd.'s liability in connection with any personal injury or death caused by our negligence, fraudulent representation or fraud on our part; or, matter which it would be unlawful or illegal for us to limit or exclude, or attempt to purport to limit or exclude its liability.
      		By the use of this website, you agree that these limitations on the liability, along with the exclusions of the same set out in this website Terms and Conditions of Use are reasonable; if you think otherwise, you may discontinue to use this website.
      		</p>
      		<br>
      		<h4>Other Parties</h4>
      		<hr class="terms-line">
      		<p>As a user of this website, you accept that as a limited liability entity, Drawing Board Events Pte. Ltd. has an interest in limiting its liability; including that of the personal liability of its employees, officers, and licensors. With this, you agree to not bring any personal liability claim against us; our employees, officers, and licensors, in connection with any losses you suffer by the use of this website.
      		Without prejudice to the preceding paragraph, you also agree that the limitations or liabilities and warranties set out in this Terms and Conditions of Use will protect our officers, employees, licensors, subsidiaries, agents, assigns, successors, and sub-contractors; as well as Drawing Board Events Pte. Ltd.
      		</p>
      		<br>
      		<h4>Separability Cause</h4>
      		<hr class="terms-line">
      		<p>In case any of the provisions on this Terms and Condition of Use is, or is found to be unenforceable or inapplicable under the applicable law; such provision will not affect the enforceability of the other provisions found on this Terms and Conditions of Use document.
      		Likewise, if any provisions on this Terms and Conditions of Use has been determined by any court of competent authority to be unenforceable and/or unlawful; the other provisions will still continue to be in effect. In case such unlawful/unenforceable provisions or portion of it were deleted, the rest of the provisions will continue to be in effect.
      		</p>
      		<br>
      		<h4>Indemnity</h4>
      		<hr class="terms-line">
      		<p>As a user of this website, you hereby agree to indemnify and to keep Drawing Board Events Pte. Ltd. indemnified against possible and actual damages, loss, liabilities, costs, and expenses; including, but not limited to legal expenses, or any amounts paid by us to a third-party to settle any dispute or claim on our legal advisor's advice as we may have incurred or suffered for, arising from any breach by you of any of the provisions of this Terms and Condition of Use; or from any claim that you have incurred by breach of any of the provisions on this Terms and Conditions of Use.
      		</p>
      		<br>
      		<h4>Assignment</h4>
      		<hr class="terms-line">
      		<p>Drawing Board Events Pte. Ltd. may transfer, assign, sub-contract, or otherwise deal with our rights and/or obligations under these Terms and Conditions of Use without notifying our users, or obtaining their prior consent.
      		Users may not assign, transfer, sub-contract, or otherwise deal your rights and/or obligations under these Terms and Conditions of Use other third-party. 
      		</p>
      		<br>
      		<h4>Entire Agreement</h4>
      		<hr class="terms-line">
      		<p>The provisions of these Terms and Condition of Use, together with the Privacy Policy of this website, govern the entire agreement between you and Drawing Board Events Pte. Ltd., in relation to your use of this website, or any of its services; and this shall supersede all prior agreements in connection with your use of this website. 
      		</p>
      		<br>
      		<h4>Law and Jurisdiction</h4>
      		<hr class="terms-line">
      		<p>These terms and conditions will be governed by and construed in accordance with the laws of Singapore; and any disputes or claims relating to these Terms and Conditions of Use will be subject to the exclusive jurisdiction of the courts of Singapore. 
      		</p>
      		<br>
      		<h4>Registrations and Authorizations</h4>
      		<hr class="terms-line">
      		<p>This website is owned and operated solely by Drawing Board Events Pte. Ltd.
      		Drawing Board Events Pte. Ltd is subject to the incorporation laws of Singapore, which is supervised by the ACRA. The ACRA (registration) number is 201316361C. 
      		</p>
      		<br>
      		<div class=" text-center">
                <h2 class="box_title">Terms and Conditions of Use - Customers</h2>
      		</div>
      		
      		<p>"Customers" refer to those who access this website to avail of its services, specifically in looking for, or getting in touch with professionals, companies; and products and/or services providers, who provide for products and/or services required for organizing parties and events, unless otherwise described. They may be individuals or corporate planners working on behalf of a company.
      		The website is completely free for customers to use, but Customers will need to register if they want to utilise the services of this website. 
      		Standard personal details i.e. email/contact details are required but no credit card is required to register. Collection of personal information and the details on how we deal with such information is described in our Privacy Policy statement.
      		</p>
      		<br>
      		<h4>Customer Conduct and Content</h4>
      		<hr class="terms-line">
      		<p>In this Terms and Conditions of Use, "your customer content" means material, including but not limited to texts, images, audio material, video material and audio-visual material that you may submit or upload on  this website, for whatever purpose.
      		As a Customer utilizing the tools and services of this website, you grant us an irrevocable, non-exclusive, worldwide, royalty-free license to use, adapt, publish, reproduce, translate, or distribute the contents you upload on our website, in any existing or future media. You also grant us the right to assign these rights, and the rights to bring an action for any infringement of these rights.
      		The content you upload on this website must not be unlawful, illegal, or otherwise that which may incur in breach to any third-party's legal rights; as much as it must not be cause to call for a legal action as against you or us, or any other third-party under applicable laws.
      		In submitting reviews as about any of the Vendors (see: general Terms and Conditions of Use), Customers are encouraged to submit truthful, accurate, and otherwise reliable reviews and opinions as about the reviewed Vendors. 
      		</p>
      		<p>Customers submitting reviews as about any Vendor on this website agree to not submit, upload, or post:</p>
      		<ul class="terms-list">
      		<li>offensive languages similar to bigotry, hatred, harm, racism, or threats against any entity; or group of any kind;</li>
      		<li>languages that imply violence and sexual harassment, or promote misleading and fraudulent causes and such other illegal activities;</li>
      		<li>obscene, libelous, abusive, unlawful, discriminatory, or otherwise objectionable statements; and such contents that further any criminal or illegal activity/activities.</li>
      		<li>contents that violate another's privacy, or creating or spreading computer virus and threats to privacy;</li>
      		<li>any unsolicited or unauthorized advertising, promotional materials, junk mail, spam, chain letters, pyramid schemes or any other form of solicitation;</li>
      		<li>any user content that is or has ever been the subject of any threatened or actual legal proceedings or other similar complaint.</li>
      		<p>In addition to this, Customers may not:</p>
      
      		<li>create misleading or false identity by the use of the website, or misrepresent yourself, your organization, affiliation, or your causes.</li>
      		<li>Use Drawing Board Events for any sort of tortious and illegal activities.</li>
      		<li>upload, transmit, post, email, or otherwise make available any content that you do not have the right to; </li>
      		<li>make available any material that contain destructive software such as viruses, worms, Trojan horse, computer codes, files and programs that are designed to limit, destroy, or interrupt the functionality of a computer software, hardware, or any other telecommunication equipment;</li>
      		<li>disguise origin of any communication to be this website;</li>
      		<li>disrupt or interfere with the operation of Drawing Board Events by any means;</li>
      		<li>display links to the website leading to websites that contain pornographic, obscene, offensive, or with nuisance materials;</li>
      		<li>use any of the contents found on this website to cause annoyance, disruption, inconvenience, or anxiety, by any means to another; </li>
      		<li>post on the website any content which is covered by the intellectual property rights of another. </li>
      		</ul>
      		<p>
      		Drawing Board Events Pte. Ltd. reserves the right to edit or remove any material submitted to this website, or stored on our servers, or hosted or published on this website.
      		Notwithstanding our rights under these terms and conditions in relation to user content, we do not undertake to monitor the submission of such content to, or the publication of such content on, this website.
      		</p>
      		<br>
      		
      		<div class=" text-center">
                <h2 class="box_title">Terms and Conditions of Use - Vendors</h2>
      		</div>
      		
      		<h4>Registrations and Authorizations</h4>
      		<hr class="terms-line">
      		<p>The professionals, companies; and products and/or services providers described in the previous provisions shall be herein referred to as "Vendors"; unless otherwise specified. 
      		Initial registration by a Vendor to create a free account will not require any payment or credit card details; as in case the Vendor opts to avail of the Basic subscription, but will be required if such Vendor intend to avail of the Basic +,  Premium, or Subsequent Subscription as in case the Vendor offers more than 1 service to clients. Other information about the Vendor are also required to complete the registration process. Collection of personal information and the details on how we deal with such information is described in our Privacy Policy statement.
      		Vendors, when listed on our website, will be subject to user generated reviews and opinions. In connection with this, we claim no liability or representation as about the user reviews and opinions submitted on this website. 
      		</p>
      		<br>
      		<h4>Membership</h4>
      		<hr class="terms-line">
      		<p>As a Vendor signed up on this website, you agree that Drawing Board Events Pte. Ltd. may, with or without cause and/or prior notice, terminate your membership on this website; including prohibiting your access of this website, or any of its services, in whole or in part. Without limiting the foregoing causes, we may terminate your account on our website on the following grounds:</p>
      		<ul class="terms-list">
      		<li>violation of the Terms and Conditions of Use of our website; or any other existing agreements with Drawing Board Events Pte. Ltd in whole or in part;</li>
      		<li>as compliance with authorities, law enforcement, or government agencies or authorities;</li>
      		<li>in compliance with your request to terminate your membership with our website;</li>
      		<li>technical issues which may not have been resolved accordingly;</li>
      		<li>your account's inactivity for an extended period of time.</li>
      		</ul>
      		<p>Termination of your membership in this website includes the removal of your access to all offerings, services, and other features within the Drawing Board Events website, and you may also be barred from future use of this website.</p>
      		<p>
      		As a Vendor, you also agree that all terminations shall be made at our sole discretion; and that we will not be liable to you, or any other third-party for the termination of your account, or access to the Drawing Board Events Pte. Ltd. website.
      		</p>
      		<br>
      		<h4>Basic Subscription</h4>
      		<hr class="terms-line">
      		<p>Drawing Board Events Pte. Ltd offers FREE membership for members who intend to avail of out directory listing service. Basic Subscription is only applicable to Vendors offering a single service, and such membership is only limited to the enlistment in our website's directory for access for potential clients. 
      		Access to other features of the website such as uploading of photos, customer rate and reviews, features listing, subsequent enlistment in other categories, inclusion of contact details on profile page, discounts for advertising rates, and such other similar features is not granted under the Basic Subscription plan. 
      		This subscription may not be availed of by Vendors offering more than one service. Nevertheless, enrolment in our Basic Subscription may require such information and compliance with our membership Terms and Conditions.
      		</p>
      		<br>
      		<h4>Basic+ Subscription</h4>
      		<hr class="terms-line">
      		<p>Our Basic+ Subscription plan includes the directory listing feature available for Basic Subscription, plus other subsidiary features such as customer rate and reviews, uploading of photos and contact details on profile, subsequent listings in another service category, and discount eligibility for our advertising service. 
      		Vendors enrolled in this subscription plan may not be eligible for our featured listings, email and blog marketing features, and access to quotes requests and contact details of clients.
      		Subscription fee under the Basic+ Subscription must be paid upon enrolment in this subscription plan, via our sole mode of payment which is PayPal.
      		</p>
      		<br>
      		<h4>Premium Subscription</h4>
      		<hr class="terms-line">
      		<p>Drawing Board Events Pte. Ltd. provides for its Premium Subscriber the right to advertise their business, brand, products, and/or services on the website; as well as to include the Subscriber's details in the website's directory for the entire duration of the Premium Subscription Term.
      		Among the features of our Premium Subscription Plan includes all the features of the Basic and Basic+ Subscription, plus eligibility for featured listings, email and blog marketing, and access to client quotes and contact details.
      		The privileges described on the previous paragraph is subject to a Subscription Fee, which should be settled on or before the day of the commencement of the Premium Membership by way of direct credit card payment or via PayPal.
      		In connection with this, the Premium Subscriber is required to provide the necessary details to effect the payment; and such other information as we may deem necessary to commence Premium Subscription and the privileges associated with the same.
      		</p>
      		<br>
      		<h4>Basic+ and Premium Subscriber Content</h4>
      		<hr class="terms-line">
      		<p>The Basic + and Premium Subscriber must provide us with their content upon the commencement of their subscription in the formation which is compatible with the operating systems of the website. We reserve the right though to reject uploaded content from being posted on our website; and in this case, the Basic + or Premium Subscriber may then submit an amended content in accordance with our requirements.
      		In case the subscriber fails to meet our content requirement, such membership may be forfeited, along with the amount paid in consideration for the Premium Membership. We may refund the payment for the subscription though, subject to our sole discretion.</p>
      		<p>Drawing Board Events Pte. Ltd. reserves the right, in our sole discretion to:</p>
      		<ul class="terms-list">
      			<li>modify, or otherwise remove the subscriber's uploaded contents at anytime; or</li>
      			<li>amend, correct, insert, contents as appearing on our website.</li>
      		</ul>
      		<br>
      		<h4>Renewal of Basic+ and Premium Subscription</h4>
      		<hr class="terms-line">
      		<p>Premium Subscribers intending to renew their premium membership may do so, subject to the following conditions:</p>
      		<ul class="terms-list">
      			<li>payment of the renewal fee on or before the expiry of the subscription term by direct credit card payment or via PayPal;</li>
      			<li>the renewal fee for the chosen subscription is subject to change with or without prior notice to existing subscribers;</li>
      			<li>the subscriber must apply for the renewal of the subscription, subject to our approval; </li>
      			<li>Basic+ or Premium Subscription may not be approved without the payment of the renewal fee. </li>
      		</ul>
      		<p>In case of approved subscription, such extended period of subscription is nevertheless still subject to the provisions of this Terms and Conditions of Use.
      		</p>
      		<br>
      		<h4>Termination of Subscription</h4>
      		<hr class="terms-line">
      		<p>We may terminate any subscription at any time, with or without written notice, at any of the following grounds:</p>
      		<ul class="terms-list">
      			<li>the subscriber failed to pay for the subscription fee;</li>
      			<li>the subscriber has incurred in breach of any of the provisions in this Terms and Conditions of Use, in whole or in part;</li>
      			<li>At our sole discretion, we have found the subscriber to be not suitable for membership in our website.</li>
      		</ul>
      		<p>The subscriber though may choose to terminate their membership on our website by providing us with a written notice as to this intent, not less than (7) days before the desired termination date of the membership. In this case, the Basic+ or Premium Subscriber may not claim for a refund of the paid Premium Subscription fee or the renewal fee. 
      		</p>
      		<br>
      		<h4>Vendors Conduct</h4>
      		<hr class="terms-line">
      		<p>Vendors on this website agree to not submit, upload, or post:</p>
      		<ul class="terms-list">
      			<li>offensive languages similar to bigotry, hatred, harm, racism, or threats against any entity; or group of any kind; </li>
      			<li>languages that imply violence and sexual harassment, or promote misleading and fraudulent causes and such other illegal activities;</li>
      			<li>obscene, libelous, abusive, unlawful, discriminatory, or otherwise objectionable statements; and such contents that further any criminal or illegal activity/activities.</li>
      			<li>contents that violate another's privacy, or creating or spreading computer virus and threats to privacy;</li>
      			<li>any unsolicited or unauthorized advertising, promotional materials, junk mail, spam, chain letters, pyramid schemes or any other form of solicitation; </li>
      			<li>any user content that is or has ever been the subject of any threatened or actual legal proceedings or other similar complaint.</li>
      		</ul>
      		<p>In addition to this, Vendors may not:</p>
      		<ul class="terms-list">
      			<li>create misleading or false identity by the use of the website, or misrepresent yourself, your organization, affiliation, or your causes.</li>
      			<li>use Drawing Board Events for any sort of tortious and illegal activities.</li>
      			<li>upload, transmit, post, email, or otherwise make available any content that you do not have the right to; </li>
      			<li>make available any material that contain destructive software such as viruses, worms, Trojan horse, computer codes, files and programs that are designed to limit, destroy, or interrupt the functionality of a computer software, hardware, or any other telecommunication equipment;</li>
      			<li>disguise origin of any communication to be this website;</li>
      			<li>disrupt or interfere with the operation of Drawing Board Events by any means;</li>
      			<li>display links to the website leading to websites that contain pornographic, obscene, offensive, or with nuisance materials;</li>
      			<li>use any of the contents found on this website to cause annoyance, disruption, inconvenience, or anxiety, by any means to another; </li>
      			<li>post on the website any content which is covered by the intellectual property rights of another. </li>
      		</ul>
      		<br>
      		<h4>Breachers of these Terms and Conditioons of Use</h4>
      		<hr class="terms-line">
      		<p>Without prejudice to Drawing Board Pte. Ltd., other rights under these Terms and Conditions of Use, if you breach these terms and conditions in any way, in whole or in part, we may take such action as we deem it appropriate to deal with the breach; including suspending your access to the website, prohibiting you from accessing the website, blocking computers using your IP address from accessing the website, contacting your internet service provider to request that they block your access to the website and/or bringing court proceedings against you.
      		Drawing Board Events Pte. Ltd. may revise the provisions of this Terms and Conditions of Use document, in whole or in part, from time-to-time.  Revisions on the Terms and Conditions will apply to the use of this website from the date of the publication of the revised Terms and Conditions of Use on this website.  User of this website are encouraged to check this document regularly for any change/s thereon. 
      		</p>
          </div>
    </div>
  </div>
</div>