<div class="main-container">
  <div class="container">
    <div class="row-fluid">
      <div class="span8 offset2 box_con">
        <div class=" text-center">
          <h2 class="box_title">Why List your business?</h2>


        </div>

        <p><em>Competitive rates. </em>Having performed thorough market research, we are confident of not only being able to provide your business with such an innovative service, but of being able to do so with some of the competitive (if not the competitive!) rates here in Singapore! See <u>here</u> for our subscription plans and pricing, you will be pleasantly surprised!</p>
        <p><em>Communication. </em>With our mass quote request system, potential customers now have another means of getting in touch with you.  With the system designed to free up time for the customer, whilst remaining completely free to use, you can be assured that this is something your customers will be jumping at to use! With your competitors utilising it to their advantage, can you afford not to?</p>
        <p><em>Conversion. </em>Drawing Board Events customers are ready to engage you and your sales process. Our customers are actively browsing reviews and our blog, leaving feedback and most importantly, using our Drawing Board tool to proactively contact vendors like yourself for quotes and further information. Our Drawing Board tool encourages our customers to provide as much information as possible about their upcoming events or parties, in order for you to provide a solid quote.</p>
        <p><em>Visibility. </em>The team here at Drawing Board Events are extremely excited about our unique product and are actively marketing ourselves around the clock. By being a part of Drawing Board Events, your business gets to enjoy the market recognition we ourselves are enjoying. Welcome aboard!</p>
        <p>So what are you waiting for? Give us a buzz at (65) 8132 4284 or email us at <a href="mailto:info@drawingboardevents.com.sg">info@drawingboardevents.com.sg</a> if you&rsquo;d like to chat with one of our friendly team members. Or simply sign up with us today <u>here</u> and start being a part of the Drawing Board Events revolution! </p>        
        
        
        
        
        
      </div>
    </div>
  </div>
</div>