<div class="main-container">
  <div class="">
    <div class="category-nav-div-top" >

      <div class="pull-left" ng-show="service_index != 0">
        <a href ng-click="goPrev()">Previous: {{prevCategory.display_name}}</a>
      </div>
      <div class="pull-right" ng-show="service_index != max_index">
        <a href ng-click="goNext()">Next: {{nextCategory.display_name}}</a>
      </div>
      <div class="pull-right right-checkout-1" ng-show="service_index != max_index">
        <a ng-show="authenticated" href="/#/dashboard.member.checkout/new">Finalise Quote Requests</a>
        <a ng-show="!authenticated" href="/#/register.member">Finalise Quote Requests</a>
      </div>
      <div class="pull-right" ng-show="service_index == max_index">
        <a ng-show="authenticated" href="/#/dashboard.member.checkout/new">Finalise Quote Requests</a>
        <a ng-show="!authenticated" href="/#/register.member">Finalise Quote Requests</a>
      </div>
    </div>
  </div>

  <div id="main-content" class="container">
    <div class="row-fluid">

      <sidebar></sidebar>
      <div class="span9 listing-div">
        <div class="content-main">
          <h2 class="no-top-margin text-center"><span>{{ service.display_name }}</span></h2>
          <div ng-switch on="service.name">
            <p ng-switch-when="supplies_and_party_favours">
              From disposable cutlery to paper plates and cups, save yourself the stresses of cleaning up after your successful party or event. This category also features all sorts of fun items, from door gifts for your guests to photo booth props, from candy buffets to those little sparkles that kids love to pop off.
            </p>
            <p ng-switch-when="novelty_services">
              We’re sure you’ll have just as much fun browsing this category as we did putting it together! From jumping castles to face painting, why not hire someone to add that extra bit of fun and uniqueness to your party or event? Have your guests talking about how unique your party or event was long after they’ve left!
            </p>
            <p ng-switch-when="hair_and_beauty">
              Planning a wedding? Important birthday or corporate function? Find the perfect hair and makeup artists that will accentuate your beauty. We’ve compiled a directory of very talented makeup artists and hair stylists to have you looking at your best.
            </p>
            <p ng-switch-when="fashion_and_accessories">
              Look and feel like a million dollars on your special day. We’ve compiled an extensive list of quality boutiques featuring local and international designers who can cater for all your fashion and accessory needs. Find the perfect bridal dress, accessories and even the groom’s shoes – it’s just one click away.
            </p>
            <p ng-switch-when="invitations_and_stationery">
              Where, when and why! Invitations to ensure your guests know where and when your awesome party will be held. Don’t forget that stationery such as custom made menus and program sheets are particularly important if your event or party has a sequence to it, such as a wedding or dinner and dance.
            </p>
            <p ng-switch-when="flowers">
              Flowers are key to the décor of any wedding. That said, fresh, beautiful flowers will add that touch of class and elegance to any event, from your daughter’s 16th birthday to that corporate event you’re planning to impress clients at. Our directory of skilled florists will put together a package that’s right for you, so start getting in touch now.
            </p>
            <p ng-switch-when="decor">
              Have a theme in mind? Want to capture that fabulous table setting from Pinterest? Our list of businesses in this category stock everything you’ll need from streamers to tablecloths to chair covers. Have fun mixing and matching or get all the decorations to fit your theme!
            </p>
            <p ng-switch-when="transport">
              Don’t just get from point A to B, do it in style! Rent a limo and driver for your wedding or charter a minibus to get your guests to your venue. Or if you prefer, book a classic car and cruise in it yourself!
            </p>
            <p ng-switch-when="cakes">
              Be it a birthday party or wedding, cutting into a beautifully made cake marks the highlight of many a special occasion. It also needs to be delicious as well! Whether you’re after a tiered cake, cake pops or cupcakes, we’ve got it all covered in our extensive list of cake vendors.
            </p>
            <p ng-switch-when="videography">
              Be the star in your own movie! Videographers play a central role in documenting that special day, often in tandem with your photographer. We’ve put together an extensive list for you to pick from. Browse what other customers like yourself have to say and when you’re ready, request a quote or two to get the ball rolling.
            </p>
            <p ng-switch-when="entertainment">
              DJ or live band? Do you want an MC as well? Either way, break that wall of silence by having a professional set the tone for the evening. Our list of versatile entertainers even include comedians and magicians. You will find everything you need here to entertain and thrill your crowd.
            </p>
            <p ng-switch-when="photography">
              A great party or event deserves to be remembered for a long time. A good photographer (or group of photographers) will ensure that every special moment will be captured, for you to revisit time and time again. Needless to say, getting the right photographer is especially vital if it’s a wedding that you’re planning. Good photographers get booked early so start requesting those quotes now!
            </p>
            <p ng-switch-when="catering">
              Here is where you will really get spoilt for choice. Singapore is a food lovers’ paradise after all! Our list of caterers offer a wide variety of cuisines that will suit any theme and specifications. From ethnic to fusion, pick a caterer that will have your guests leaving with a full stomach and a smile on their faces!
            </p>
            <p ng-switch-when="venues">
              Hands down the most important aspect to ensuring your party or event is a success. Picking the right venue and picking it early is particularly critical if a wedding is what you’re planning. Our hand-picked list of venues, from bars to restaurants and hotels, is both extensive and diverse so we’re confident you’ll find what you need here.
            </p>
          </div>
          <div class="text-center">
            <i class="fa fa-sort-alpha-asc"></i>&nbsp;&nbsp;
            <div class="btn-group">
              <button id="services_sort_by_created_at"
                      ng-click="services_sort_by('created_at DESC');toggle_button_active('services_sort_by_created_at', 'services_sort_by_btn')"
                      class="btn services_sort_by_btn">Recently Added</button>
              <button id="services_sort_by_overall_rating"
                      ng-click="services_sort_by('overall_rating DESC');toggle_button_active('services_sort_by_overall_rating', 'services_sort_by_btn')"
                      class="btn services_sort_by_btn">Rating</button>
              <button id="services_sort_by_name"
                      ng-click="services_sort_by('name ASC');toggle_button_active('services_sort_by_name', 'services_sort_by_btn')"
                      class="btn services_sort_by_btn">Alphabetical</button>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;<i ng-show="service.name == 'venues'" class="fa fa-users"></i>&nbsp;&nbsp;
            <div class="btn-group" ng-show="service.name == 'venues'">
              <button id="filter_by_venue_size_{{ $index }}"
                      ng-repeat="venue_size in venue_sizes"
                      ng-click="filter_by_venue_size($event); toggle_button_active('filter_by_venue_size_'+$index, 'filter_by_venue_size_btn')"
                      class="btn filter_by_venue_size_btn">{{venue_size}}</button>
            </div>
            <hr ng-show="service.name == 'venues'">
            <i class="fa fa-coffee" ng-show="service.name == 'venues'"></i>&nbsp;&nbsp;
            
            <div class="btn-group" ng-show="service.name == 'venues'">
              <button id="filter_by_venue_type_0" ng-click="filter_by_venue_type('wedding_celebrations'); toggle_button_active('filter_by_venue_type_0','filter_by_venue_type_btn')" class="btn filter_by_venue_type_btn">Weddings</button>
              <button id="filter_by_venue_type_1" ng-click="filter_by_venue_type('business_functions'); toggle_button_active('filter_by_venue_type_1','filter_by_venue_type_btn')" class="btn filter_by_venue_type_btn">Corporate Events</button>
              <button id="filter_by_venue_type_2" ng-click="filter_by_venue_type('party_and_dance'); toggle_button_active('filter_by_venue_type_2','filter_by_venue_type_btn')" class="btn filter_by_venue_type_btn">Parties</button>
              <button id="filter_by_venue_type_3" ng-click="filter_by_venue_type('dinner_and_dance'); toggle_button_active('filter_by_venue_type_3','filter_by_venue_type_btn')" class="btn filter_by_venue_type_btn">Dinner and Dance</button>
              <button id="filter_by_venue_type_4" ng-click="filter_by_venue_type('kids'); toggle_button_active('filter_by_venue_type_4','filter_by_venue_type_btn')" class="btn filter_by_venue_type_btn">Kids</button>
              <button id="filter_by_venue_type_5" ng-click="filter_by_venue_type('others'); toggle_button_active('filter_by_venue_type_5','filter_by_venue_type_btn')" class="btn filter_by_venue_type_btn">Others</button>
            </div>
          </div>
          <br>
          <div class="text-center" ng-show="providers.length == 0">
            There is no services under this category yet. Stay tuned.
          </div>
          <table class="table service_table_list">
            <tr ng-repeat="provider in providers">
              <td ng-class="{featured_paid_div: isPremiumListing(provider)}">
                <div ng-show="provider.provider_pictures.length == 0">
                  <div class="span4 thumbnails"></div>
                  <div class="span8">
                    <h4 class="title"><a ng-href="/#/provider/{{ provider.id }}/{{ service.name }} ">{{ provider.name }}</a><i ng-show="service.name == 'venues'" class="fa fa-users"></i><span ng-show="service.name == 'venues'" class="service_venue_size">{{ provider.venue_size }}</span></h4>
                    <p class="listing-desc-div" ng-bind-html-unsafe="provider.profile_description | splitter:0"></p>
                    <div class="row-fluid listing-desc-details">
                      <div class="span6">
                        <a ng-href="/#/provider/{{ provider.id }}/{{ service.name }} ">more info ({{ provider.approved_reviews_count }} reviews)</a>
                        <custom-rating value="provider.overall_rating" max="5" readOnly="true"></custom-rating>
                      </div>

                      <div class="span6 listing-desc-details-right">
                        <a ng-show="requestsInCart[provider.id] == null" href ng-click="requestQuote(provider)" class="btn btn-warning" tooltip="A quote request email will be sent to this vendor" tooltip-placement="right">Request Quote</a>
                        <span ng-show="requestsInCart[provider.id] != null" href ng-click="unRequestQuote(provider)" class="btn btn-info">Quote Requested</span>
                      </div>

                    </div>
                  </div>
                </div>
                <div ng-hide="provider.provider_pictures.length == 0">

                  <div class="span4 thumbnails">
                    <a ng-hide="provider.priceplan.code == 'basic'" ng-href="/#/provider/{{ provider.id }}/{{ service.name }} " class="thumbnail">
                      <div class="service-provider-empty-image" ng-show="provider.provider_pictures.length == 0"></div>
                      <img nailthumb width="195" height="145" method="crop" ng-src="{{ provider.provider_pictures[0].avatar_url }}" >
                    </a>
                  </div>
                  <div class="span8">
                    <h4 class="title"><a ng-href="/#/provider/{{ provider.id }}/{{ service.name }} ">{{ provider.name }}</a><i ng-show="service.name == 'venues'" class="fa fa-users"></i><span ng-show="service.name == 'venues'" class="service_venue_size">{{ provider.venue_size }}</span></h4>
                    <p class="listing-desc-div" ng-bind-html-unsafe="provider.profile_description | splitter:0"></p>
                    <div class="row-fluid listing-desc-details">
                      <div class="span6">
                        <a ng-href="/#/provider/{{ provider.id }}/{{ service.name }} ">more info ({{ provider.approved_reviews_count }} reviews)</a>
                        <custom-rating value="provider.overall_rating" max="5" readOnly="true"></custom-rating>
                      </div>

                      <div class="span6 listing-desc-details-right">
                        <a ng-show="requestsInCart[provider.id] == null" href ng-click="requestQuote(provider)" class="btn btn-warning" tooltip="A quote request email will be sent to this vendor" tooltip-placement="right">Request Quote</a>
                        <span ng-show="requestsInCart[provider.id] != null" href ng-click="unRequestQuote(provider)" class="btn btn-info">Quote Requested</span>
                      </div>

                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </table>

          <div ng-if="providers.length > 0">
            <hr>
            <div class="pull-right" pagination
                 total-items="total_results"
                 page="query.page"
                 items-per-page="query.per_page"
                 max-size="9"></div>
          </div>
          <div class="clearfix"></div>
          <hr>
          <div class="category-nav-div">

            <div class="pull-left">
              <a ng-show="authenticated" href="/#/dashboard.member.checkout/new">Finalise your list of quote requests</a>
              <a ng-show="!authenticated" href="/#/register.member">Finalise your list of quote requests</a>
            </div>

            <div class="pull-right" ng-show="hasNextCategory">
              Continue on - <a ng-href="/#/services/{{nextCategory.name}}">{{nextCategory.display_name}}</a> category.
            </div>
          </div>


        </div>
      </div>


    </div>
  </div>

</div>